*{
  box-sizing: border-box;
  font-family: Roboto;
}
.collapse{
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.2s ease-out;
}

.col5{
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    padding-left: 4px;
    width: 100%;
  }
.col6{
  float: left;
  width: 50%;
}
.col7{
  width: 51%;
}
.details{
  width: 90%;
  /*width: 350px;*/
  background: rgba(33, 192, 222, 0.9);   
  border: 4px solid rgba(255, 203, 5, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.detailsActive{
  width: 90%;
  /*width: 350px;*/
  background: rgba(33, 192, 222, 0.9);   
  border: 4px solid rgba(255, 203, 5, 0.5);
  
  border-radius: 8px;
  box-shadow: 14px 8px 8px rgb(0 0 0 / 60%);
}
.cardhead{
  display: flex;
  background: #969696CC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px 8px 0px 0px;
}
.card-headpd{
  padding-bottom: 15px;
}
.sControlsCont{
  display: flex;
  position: sticky;
  top: 1%;
  margin-left: auto;
  width: 198px;
  height: 66px;
  background: rgba(196, 196, 196, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.sButton{
  position: relative;
  top: 18.18%;
  bottom: 18.18%;
  width: 91px;
  height: 42px;
  color: #FFFFFF;
}
.attackBtn{
  background: rgba(52, 102, 175, 0.3);
  border-color: rgba(52, 102, 175, 0.3);
  border-radius: 6px;
  /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}
.attackActivate{
  background: rgba(52, 102, 175, 0.7) !important;
  border-color: rgba(52, 102, 175, 0.7) !important;
 
}
.cancelBtn{
  background: rgba(175, 52, 52, 0.3);
  border-color: rgba(175, 52, 52, 0.3);
  border-radius: 6px;
}
.cancelBtnActivate{
  background: rgba(175, 52, 52, 0.7) !important;
  border-color: rgba(175, 52, 52, 0.7) !important;
}

/*Small Tablet*/
@media only screen and (min-width:500px) and
(max-width:599px){
  .col5{
    width: 100%;
  }
  .details{
    width: 90%;
  }
}
/*Tablet*/
@media only screen and (min-width:600px) and
(max-width:763px){
  .col5{
    width: 50%;
    float: left;
  }
  .details{
    width: 90%;
  }
  .card-head-name{
    font-size: 20px !important;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 39px;
    font-variant: all-petite-caps;
  }
  .sControlsCont{
    display: flex;
    position: sticky;
    top: 0;
    margin-left: auto;
    width: 198px;
    height: 66px;
    background: rgba(196, 196, 196, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  }
  
}
/*Large Tablet - Desktop*/
@media only screen and (min-width:764px) and
(max-width:1024px){
  .col5{
    width: 33%;
    float: left;
  }
  .details{
    width: 90%;
  }

}
/*Desktop*/
@media only screen and (min-width:1025px) and
(max-width:1279px){
  .col5{
    width: 25%;
    float: left;
  }
  .details{
    width: 90%;
  }
}
/*Desktop*/
@media only screen and (min-width:1280px){
  .col5{
    width: 20%;
    float: left;
  }
  .details{
    width: 90%;
  }
}
.card-head-stats{
  font-size: 12px;
  line-height: 22px;
  color: #FFFFFF;
}